<span class="price">{{ price }} {{ currencySymbol }}</span>

<span class="price">Price: {{ price }} {{ currencySymbol }} per night</span>

<span class="price">This accommodation is {{ price }} {{ currencySymbol }} per night</span>

<div>
    Gallia   est omnis divisa in {{ "partes tres" }}, quarum unam incolunt Belgae, aliam Aquitani, tertiam, qui ipsorum lingua Celtae, nostra Galli appellantur.

    Gallien in   seiner Gesamtheit zerfällt in <span>drei Teile</span>. Den einen bewohnen die Belger, einen anderen die Aquitaner und den dritten die, die sich selbst Kelten nennen, in unserer Sprache aber Gallier heißen.

    All Gaul is divided    into three
    parts, one of which the Belgae inhabit,
    the Aquitani another, those who in their
     own language are called Celts,
       in our Gauls, the third.
</div>
