<h1>{{ title | title }}</h1>
<ul>
    {% for item in items %}
        <li class="{{ loop.last ? 'last' : '' }}">
            {% block title %}
                {{ loop.index0 }} {{ item.name | title }} {{ loop.index }}
            {% endblock %}
        </li>
    {% endfor %}
</ul>
