<div>
    {%- if foo %}
        <div class="foo"></div>
    {% else -%}
        <div class="bar"></div>
    {%- endif %}
</div>

{% if partner -%}
    <img class="{{ {
        (css.logo): not useWiderItems,
        (css.logoWider): useWiderItems
    } | classes }}" srcABC="{{ partner.logoUrl }}" alt="{{ partner.name }}" />
{%- elseif partnerName %}
    <b class="{{ css.name }}">{{ partnerName }}</b>
{% elseif partnerImg -%}
    <b class="{{ css.image }}">{{ partnerImg }}</b>
{%- endif -%}

<!-- Don't break -->
{% if isLeftToRight %}Hund{% endif %}
{% if isRTL %}{{ '&#8206;' | raw }}{% endif %}

<!-- Do break -->
{% if unitAfter | length > 0 and not withoutDisplayPattern %}<span key="unit-after" class="unit unit--after">{{ unitAfter }}</span>{% endif %}

{%- if isCTestActive('WEB-50808') %} web50808{% endif -%}
